.env
venv/

#Python
*.pyc
.coverage
*.egg-info
__pycache__/

# venv (root level only, not Flutter lib/)
/lib/
/bin/
/share/
pyvenv.cfg

# pre-commit
.pre-commit-config.yaml

# database files
db/

# misc
tmp/

# osx
.DS_Store
._*

# Generated documentation
docs/reference/client_api/
docs/reference/server_api.md
