.env
venv/

#Python
*.pyc
.coverage
*.egg-info
__pycache__/

# venv (root level only, not Flutter lib/)
/lib/
/bin/
/share/
pyvenv.cfg

# pre-commit
.pre-commit-config.yaml

# database files
db/
file-store/
lancedb/

# misc
tmp/

# osx
.DS_Store
._*


# UI development files
ui/node_modules/
ui/.svelte-kit/
ui/build/
ui/.env
ui/.env.*
